CONFIG_TARGET_armvirt=y
CONFIG_TARGET_armvirt_64=y
CONFIG_TARGET_MULTI_PROFILE=y

#CONFIG_TARGET_x86=y
#CONFIG_TARGET_x86_64=y
#CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_GRUB_CONSOLE is not set
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_libnetsnmp=y
CONFIG_PACKAGE_libpci=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_snmpd-static=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_dropbearconvert=y
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_kmod-e100=y
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-ethoc=y
CONFIG_PACKAGE_kmod-vmxnet3=y
CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-mtdoops=y
CONFIG_PACKAGE_kmod-mtdram=y
CONFIG_PACKAGE_kmod-mtdtests=y
CONFIG_PACKAGE_kmod-random-core=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_ZRAM_DEF_COMP_LZORLE=y
CONFIG_PACKAGE_kmod-mmc-spi=y
CONFIG_PACKAGE_kmod-spi-bitbang=y
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_lz4=y
CONFIG_PACKAGE_pigz=y
CONFIG_PACKAGE_unrar=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_zipcmp=y
CONFIG_PACKAGE_zipmerge=y
CONFIG_PACKAGE_ziptool=y
CONFIG_PACKAGE_zstd=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_blockdev=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_hexedit=y
CONFIG_PACKAGE_dumpe2fs=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_ntfs-3g-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_SQUASHFS_TOOLS_LZO_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_LZ4_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_XZ_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_ZSTD_SUPPORT=y
CONFIG_PACKAGE_swap-utils=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_agetty=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_cgroup-tools=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_cpulimit=y
CONFIG_PACKAGE_dropbearconvert=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_io=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_uuidd=y
CONFIG_TARGET_ROOTFS_PARTSIZE=1516
CONFIG_TARGET_ROOTFS_TARGZ=y
